 *{
    box-sizing: border-box;
    font-family: 'iransans';
}
@font-face{
    font-family: 'iransans';
    src: url('../font/IRANSans(FaNum)(1).ttf');
}

body, html{
    margin:0;
    padding:0;

}
body{
    background-color: #070d35;
}
.ms-container{
    display: grid;
    grid-template-columns: 18% 80%;
    grid-column-gap: 2%;
    height: 665PX;
}
nav{
    background: rgb(4, 32, 56);
    border-top-left-radius: 10px;
    height: 95%;
    margin-top: 13%;
}
main{
    background: linear-gradient(45deg, rgb(0 0 0 / 70%), rgb(20 13 58 / 69%)), url('../site_images/admin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    position: relative;
    overflow-y: scroll;
}
nav p{
    color:antiquewhite;
    text-align: center;
}
nav a{
    display: block;
    text-decoration: none;
    border: 1px solid #001e50;
    text-align: center;
    padding: 25px;
    background: linear-gradient(0deg, black, transparent, black);
    color:antiquewhite;
}
nav a:hover{
    background: linear-gradient(0deg, black, #001e50, black);
}
nav a:first-child{
    margin-top: 30px;
    background: linear-gradient(0deg, hsl(258deg 39% 27%), #3e0427);
}

header{
    width: 50%;
    margin: 90px auto;
}

header h5,
header h3{
    color:whitesmoke;
    text-align: center;
}
form{
    display: block;
    margin: auto;
    width: 60%;
    position: relative;
}
form button{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
    background: transparent;
    border: none;
}
form button:hover{
    outline: none;
    cursor: pointer;
}
form input{
    width: 100%;
    height: 35px;
    border-radius: 5px;
}

.main_content{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
    row-gap: 5px;
    margin-top: 40px;
}
.pro{
    background: aliceblue;
}
.pro img{
    width:100%;
}
.pro *{
    text-align:center;
}


.order-con{
    display: grid;
    width: 80%;
    grid-template-columns: 20% 20% 20%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.order-con button{
    display: block;
    padding: 10px;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
    background: linear-gradient(180deg, black, transparent);
    color: whitesmoke;
    border: 1px solid white;
    transition: all 0.2s linear;
}

.order-con button:hover{
    background: #0dff00;
    color: #310000;
    border: 1px solid #0af911;
    box-shadow: 2px 2px 8px #0af911;
    cursor: pointer;
}

.order-con button:focus{
    outline: none;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    position: absolute;
    top: 40%;
}
th ,td{
    border: 1px solid black;
    color:whitesmoke;
    text-align: center;
    min-width: 180px;
    padding:5px;
    font-size: 13px;
}
thead{
    background:linear-gradient(#3a0303, black);
}
tbody:nth-child(even){
    background: linear-gradient(#a5a3a3, #19010b);
}
tbody:nth-child(odd){
    background: linear-gradient(#a5a3a3, #2d2003);
}
td button{
    margin-right: 2px;
}

td .active{
    outline: 1px solid #008bce;

}
td .active:hover{
    box-shadow: 1px 1px 8px #008bce;
    cursor: pointer;
}

.realtimeSearch{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%);
    width: 40%;
    padding:10px;
    border-radius: 5px;
}
.realtimeSearch:focus{
    outline: none;
}
